body {
  font-family: sans-serif;
  font-size: 16px;
  color: #767676;
}

a {
  text-decoration: none;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bold {
  font-weight: 600;
}

.font-size-md {
  font-size: 1.1rem;
}

.font-size-lg {
  font-size: 1.25rem;
}

.font-size-xl {
  font-size: 1.5rem;
}

.font-size-xxl {
  font-size: 1.75rem;
}

.text-center {
  text-align: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
}

.nobel {
  color: #9B9B9B;
} 

.dark-gray {
  color: #4A4A4A;
}

.white {
  color: #ffffff;
}

.bg-dark-gray {
  background-color: #4A4A4A;
}

.bg-light-gray {
  background-color: #D8D8D8;
}

.link-block {
  color: #767676;
}

.read-more {
  color: #4C91E2;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-mobile {
  display: none;
}

.info-block:hover,
.exhibits-block:hover {
  background-color: #D8D8D8;
}

header {
  max-width: 95%;
  margin: 0 auto;
}

.mobile-header {
  display: none;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: .5rem 0;
}

.logo {
  margin-right: auto;
}

.logo img,
.logo p {
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  height: 2.5rem;
  width: auto;
}

.logo p {
  text-transform: uppercase;
}

nav {
  margin: 1.5rem 0 1.5rem auto;
}

nav li {
  display: inline-block;
  margin-left: 1.25rem;
}

.banner .img-wrapper {
  max-width: 50%;
  margin: 2rem 1rem;
}

.headline {
  max-width: 25%;
  margin: auto 1.5rem;
}

.headline .title {
  line-height: 1.2;
  margin-bottom: 1rem;
}

.headline p {
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.headline a {
  display: block;
  max-width: 100%;
  font-size: 0.9rem;
  padding: .75rem 0;
}

.headline a:hover {
  background-color: #9B9B9B;
}

.info {
  margin: 2rem 0;
}

.info-main {
  max-width: 54%;
  margin: 1rem;
}

.info-main .heading {
  margin: 2rem 0 1.5rem 0;
}

.info-main p {
  line-height: 1.4;
}

.info-main .reviewer {
  margin-top: 2rem;
}

.info-aside {
  max-width: 40%;
}

.info-block .details {
  height: auto;
  margin: 1rem 1.5rem 2rem .5rem;
}

.info-block .title {
  line-height: 1.3;
  margin-bottom: .75rem;
}

.info-block .img-wrapper {
  max-width: 30%;
  margin: 1rem;
}

.info-block p {
  margin-bottom: .75rem;
  line-height: 1.4;
}

.courses {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background-color: #EAEBEC;
}

.courses .heading {
  margin-bottom: 2.25rem;
}

.courses .wrapper {
  max-width: 75%;
  margin: 0 auto;
}

.course-mobile {
  display: none;
  width: 100%;
  background-color: #D8D8D8;
  margin-bottom: .75rem;
  padding: 2rem 1.5rem;
}

.course {
  max-width: 30%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
}

.course:nth-child(3n) {
  margin-right: 0;
}

.course .details {
  margin: 1.5rem 1rem;
}

.course .name {
  margin-bottom: 1rem;
  line-height: 1.2;
}

.course .string {
  margin-bottom: .75rem;
}

.course .list {
  line-height: 1.4;
}

.exhibits {
  margin: 2.25rem 0 0 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #E8E8E8;
}

.exhibits .heading {
  margin-bottom: 1rem;
}

.exhibits-main {
  margin: 1rem;
  max-width: 54%;
}

.exhibits-main .title {
  margin: 1.5rem 0 1rem 0;
}

.exhibits-main p {
  line-height: 1.4;
}

.exhibits-main video {
  max-width: 100%;
}

.exhibits-aside {
  max-width: 38%;
}

.exhibits-block .img-wrapper {
  max-width: 30%;
  margin: 1rem;
}

.exhibits-block img {
  max-width: 100%;
  height: auto;
}

.exhibits-block .details {
  margin: 0 .5rem;
}

.exhibits-block .title {
  line-height: 1.3;
  margin-bottom: .75rem;
}

.exhibits-block p {
  line-height: 1.4;
}

footer {
  max-width: 95%;
  margin: 1.25rem auto 4rem auto;
}

.copyright {
  margin-right: auto;
}

.footer-links {
  margin-left: auto;
}

.footer-links li {
  display: inline-block;
  margin-right: .5rem;
}

.footer-links a {
  color: #767676;
}

@media screen and (max-width: 1050px) {
  .headline .title {
    font-size: 1.5rem;
  }
  .headline p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 900px) {
  .banner {
    padding-bottom: 2rem;
  }
  .banner .img-wrapper {
    height: 400px;
    max-width: 100%;
    overflow: hidden;
    margin: 0 0 1.5rem 0;
  }
  .headline {
    max-width: 70%;
  }
  .headline .title {
    font-size: 1.75rem;
  }
  .headline p {
    font-size: 1rem;
  }
  .courses .wrapper {
    max-width: 90%;
  }  
  .course .name {
    font-size: 1.1rem;
  }
  .course p {
    font-size: .9rem;
  }
  .info-main,
  .exhibits-main {
    max-width: 70%;
  }
  .info-aside,
  .exhibits-aside {
    max-width: 75%;
  }
}

@media screen and (max-width: 775px) {

  .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .banner .flex-container {
    display: block;
  }
  
  .banner .img-wrapper {
    height: 250px;
  }
  
  .headline {
    max-width: 90%;
    margin: 0 auto;
  }
  
  .headline .title {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  
  .headline p {
    font-size: 1.1rem;
  }
  
  .info {
    margin-bottom: 0;
  }
  
  .info-aside {
    max-width: 100%;
  }
  
  .info .flex-display {
    display: block;
  }
  
  .link-block .flex-display {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .link-block .img-wrapper {
    max-width: 100%;
    margin: 0 1rem .5rem 1rem;
  }
  
  .info-block .img-mobile {
    display: block;
    max-width: 100%;
  }
  
  .info-block .details {
    padding: 0 1rem;
  }
  
  .info,
  .courses {
    border-bottom: 1px solid #E8E8E8;
  }
  
  .courses {
    background-color: #ffffff;
  }

  .course-mobile {
    display: block;
    text-align: center;
  }
  
  .exhibits-main {
    max-width: 100%;
    margin: 1rem 0 0 0;
  }
  
  header,
  .img-desktop,
  .info-main,
  .course,
  .exhibits-main .details,
  .exhibits-aside,
  .footer-links {
    display: none
  }
  
  footer {
    margin: 1rem auto 2rem auto;
  }
  
}